{% extends 'User/Head.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1 align="center">Feedback</h1>
        <table width="200" border="1" align="center">
            <tr>
                <td>Content</td>
                <td> <label for="txt_content"></label>
                <input type="text" required name="txt_content" id="txt_content" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><div align="center">
                    <input type="Submit" name="btn_sub" id="btn_sub" value="Submit" />
                </div></td>
            </tr>
        </table>
</body>
</html>

{% endblock content %}