<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 align="center">HOMEPAGE</h1>
        <br>
        <center>WELCOME</center> -->
        <!-- <form id="searchForm">
            <input type="text" id="searchInput" name="search" placeholder="Search for products...">
        </form> -->
    
        <!-- <div id="results"></div>
        <table width="200" border="1" align="center">
            <tr>
                <td><a href="{% url 'User:myprofile' %}">My Profile</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'User:viewproduct' %}">View Product</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'User:Mycart' %}">My Cart</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'User:MyBooking' %}">My Booking</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'User:MyComplaint' %}">My Complaints</a></td>
            </tr>
            
</body>
</html> -->
<!-- <script>
    $(document).ready(function() {
        $("#searchInput").on("keyup", function() {
            let query = $(this).val();
            
            $.ajax({
                url: "{% url 'User:search_products' %}",
                type: "GET",
                data: { search: query },
                dataType: "json",
                success: function(response) {
                    let resultsDiv = $("#results");
                    resultsDiv.empty();
                    if (response.products.length > 0) {
                        let output = "<ul>";
                        response.products.forEach(product => {
                            output += `<li><strong>${product.product_name}</strong> - ${product.description} - $${product.price}</li>`;
                        });
                        output += "</ul>";
                        resultsDiv.html(output);
                    } else {
                        resultsDiv.html("<p>No products found.</p>");
                    }
                }
            });
        });
    }); -->

	{% load static %}
	<!DOCTYPE html>
	<html lang="en">
	  <head>
		<title>VC Cosmetics</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700" rel="stylesheet">
	
		<link rel="stylesheet" href="{% static 'Main/css/open-iconic-bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'Main/css/animate.css' %}">
		
		<link rel="stylesheet" href="{% static 'Main/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'Main/css/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'Main/css/magnific-popup.css' %}">
	
		<link rel="stylesheet" href="{% static 'Main/css/aos.css' %}">
	
		<link rel="stylesheet" href="{% static 'Main/css/ionicons.min.css' %}">
	
		<link rel="stylesheet" href="{% static 'Main/css/bootstrap-datepicker.css' %}">
		<link rel="stylesheet" href="{% static 'Main/css/jquery.timepicker.css' %}">
	
		
		<link rel="stylesheet" href="{% static 'Main/css/flaticon.css' %}">
		<link rel="stylesheet" href="{% static 'Main/css/icomoon.css' %}">
		<link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
	  </head>
	  <body>
		
		<div class="hero-wrap js-fullheight" style='background-image: url("{% static 'Main/images/kriti-sanon-hd-pink-lipstick-c4v8g3ctf5bc5vuz.jpg' %}");' data-stellar-background-ratio="0.5">
		  <div class="overlay"></div>
		  <div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
			  <div class="col-md-8 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				  <div class="icon">
					  <a href="#" class="logo">
						  <span class="flaticon-flower"></span>
						  <h1>V C</h1>
					  </a>
				  </div>
				<h2 class="mb-4" style="color: white;" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">COSMETICS</h2>
				<p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">WELCOME <b><h1>{{name}}</h1></b></p>
	
				<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-white btn-outline-white px-4 py-3">View Our Services</a></p>
			  </div>
			</div>
		  </div>
		</div>
	
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
			  <a class="navbar-brand" href="index.html">VC Cosmetics</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			  </button>
	
			  <div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="{% url 'User:homepage' %}" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="{% url 'User:myprofile' %}" class="nav-link">My Profile</a></li>
					<li class="nav-item"><a href="{% url 'User:viewproduct' %}" class="nav-link">View Product</a></li>
					<li class="nav-item"><a href="{% url 'User:Mycart' %}" class="nav-link">My Cart</a></li>
					<li class="nav-item"><a href="{% url 'User:MyBooking' %}" class="nav-link">My Booking</a></li>
					<li class="nav-item"><a href="{% url 'User:MyComplaint' %}" class="nav-link">My Complaints</a></li>
					<li class="nav-item"><a href="{% url 'User:logout' %}" class="nav-link">Logout</a></li>
				</ul> 
			  </div>
			</div>
		  </nav>
		<!-- END nav -->
	
		<section class="ftco-section">
			<div class="container">
			  <div class="row">
				<!-- Lipsticks -->
				<div class="col-md-4 ftco-animate">
				  <div class="media d-block text-center block-6 services">
					<div class="icon d-flex mb-3 justify-content-center">
					  <img src="https://static.vecteezy.com/system/resources/previews/027/821/887/original/lipstick-icon-illustration-logo-design-template-vector.jpg" alt="Lipstick Icon" width="50" height="50">
					</div>
					<div class="media-body">
					  <h3 class="heading">Lipsticks</h3>
					  <p>Discover a stunning range of shades that bring your smile to life with bold or subtle tones.</p>
					</div>
				  </div>      
				</div>
		  
				<!-- Foundations -->
				<div class="col-md-4 ftco-animate">
				  <div class="media d-block text-center block-6 services">
					<div class="icon d-flex mb-3 justify-content-center">
					  <img src="https://cdn2.iconfinder.com/data/icons/cosmetics-glyph-silhouettes/300/3229834Untitled-3-512.png" alt="Foundation Icon" width="50" height="50">
					</div>
					<div class="media-body">
					  <h3 class="heading">Foundations</h3>
					  <p>Perfect your base with our smooth, blendable foundations for all skin types and tones.</p>
					</div>
				  </div>      
				</div>
		  
				<!-- Eye Shadows -->
				<div class="col-md-4 ftco-animate">
				  <div class="media d-block text-center block-6 services">
					<div class="icon d-flex mb-3 justify-content-center">
					  <img src="https://th.bing.com/th/id/OIP.25lwSWH4SE7E9Y0jDOWKVwHaHa?rs=1&pid=ImgDetMain" alt="Eye Shadow Icon" width="70" height="70" >
					</div>
					<div class="media-body">
					  <h3 class="heading">Eye Shadows</h3>
					  <p>From neutral palettes to bold pigments, create endless eye-catching looks with ease.</p>
					</div>
				  </div>    
				</div>
			  </div>
			</div>
		  </section>
		  
	
		<section class="ftco-section bg-light">
		  <div class="container">
			  <div class="row justify-content-center mb-5 pb-3">
			  <div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Our Beauty Experts</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			  </div>
			</div>
			<div class="row">
				<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
					<div class="staff">
						  <div class="img mb-4" style='background-image: url("{% static 'Main/images/sumi.png' %}");'></div>
						  <div class="info text-center">
							  <h3><a href="teacher-single.html">Sumi K Yeldho</a></h3>
							  <span class="position">Cosmetologist</span>
							  <div class="text">
								<p>Our Cosmetologist brings expert care to hair, skin, and beauty, combining artistry with science to help you look and feel your best.</p>
							</div>
						  </div>
					</div>
				</div>
				<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
					<div class="staff">
						  <div class="img mb-4" style='background-image: url("{% static 'Main/images/IMG_20240429_212851_790.jpg' %}");'></div>
						  <div class="info text-center">
							  <h3><a href="teacher-single.html">Jennifer Winget</a></h3>
							  <span class="position">Makeup Artist</span>
							  <div class="text">
								<p>Our Makeup Artist transforms vision into reality with skillful techniques, enhancing natural beauty for every occasion.</p>
							</div>
						  </div>
					</div>
				</div>
				<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
					<div class="staff">
						  <div class="img mb-4" style='background-image: url("{% static 'Main/images/205c22e43b292c4998f0cf9b1a5f3ff5.jpg' %}");'></div>
						  <div class="info text-center">
							  <h3><a href="teacher-single.html">Gulki Joshi</a></h3>
							  <span class="position">Beauty Influencer</span>
							  <div class="text">
								<p>Our Beauty Influencer shares expert tips, honest reviews, and stunning looks to inspire confidence and celebrate every kind of beauty.</p>
							</div>
						  </div>
					</div>
				</div>
				<div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
					<div class="staff">
						  <div class="img mb-4" style='background-image: url("{% static 'Main/images/638ce2c5-4503-465a-b534-19ee68eaa8ea.jpeg' %}");'></div>
						  <div class="info text-center">
							  <h3><a href="teacher-single.html">Alkha Raj</a></h3>
							  <span class="position">Cosmetic Chemist</span>
							  <div class="text">
								<p>Our Cosmetic Chemist expertly formulates high-quality, effective, and safe products using the latest in skincare science and innovation.</p>
							</div>
						  </div>
					</div>
				</div>
			</div>
		  </div>
		</section>
	
			<section class="ftco-section ftco-discount img" style='background-image: url("{% static 'Main/images/236dbffc51a3c183f2e8a704057ffeda.jpg' %}");'>
				<div class="overlay"></div>
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-md-5 discount ftco-animate">
							<h3>Save up to 25% Off</h3>
							<h2 class="mb-4">Student Discount</h2>
							<p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
							<p><a href="#" class="btn btn-white btn-outline-white px-4 py-3">Book Now</a></p>
						</div>
					</div>
				</div>
			</section>
	
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
			  <div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">Our Work</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			  </div>
			</div>
			<div class="row">
				<div class="col-md-4 ftco-animate">
					<a href="#" class="work-entry">
						<img src="{% static 'Main/images/3fce0d0dedd9443bdf711148121fbb56.jpg' %}" class="img-fluid" alt="Colorlib Template">
						<div class="info d-flex align-items-center">
							<div>
								<div class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
								<h3>Lipsticks</h3>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 ftco-animate">
					<a href="#" class="work-entry">
						<img src="{% static 'Main/images/b6772200ae55be79c27e40bb28766ce9.jpg' %}" class="img-fluid" alt="Colorlib Template">
						<div class="info d-flex align-items-center">
							<div>
								<div class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
								<h3>Mascaras</h3>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 ftco-animate">
					<a href="#" class="work-entry">
						<img src="{% static 'Main/images/0c1ee0536711618fb3d32924cd591058.jpg' %}" class="img-fluid" alt="Colorlib Template">
						<div class="info d-flex align-items-center">
							<div>
								<div class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
								<h3>Face Masks</h3>
							</div>
						</div>
					</a>
				</div>
			</div>
			</div>
		</section>
	
		<section class="ftco-partner bg-light">
			<div class="container">
				<div class="row partner justify-content-center">
					<div class="col-md-10">
						<div class="row">
						<div class="col-md-3 ftco-animate">
							<a href="#" class="partner-entry">
								<img src="{% static 'Main/images/partner-1.jpg' %}" class="img-fluid" alt="Colorlib template">
							</a>
						</div>
						<div class="col-md-3 ftco-animate">
							<a href="#" class="partner-entry">
								<img src="{% static 'Main/images/partner-2.jpg' %}" class="img-fluid" alt="Colorlib template">
							</a>
						</div>
						<div class="col-md-3 ftco-animate">
							<a href="#" class="partner-entry">
								<img src="{% static 'Main/images/partner-3.jpg' %}" class="img-fluid" alt="Colorlib template">
							</a>
						</div>
						<div class="col-md-3 ftco-animate">
							<a href="#" class="partner-entry">
								<img src="{% static 'Main/images/partner-4.jpg' %}" class="img-fluid" alt="Colorlib template">
							</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>
	
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center mb-5 pb-3">
			  <div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">Beauty Pricing</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			  </div>
			</div>
			<div class="row">
				<div class="col-md-3 ftco-animate">
					<div class="pricing-entry pb-5 text-center">
						<div>
							<h3 class="mb-4">Basic</h3>
							<p><span class="price">$24.50</span> <span class="per">/ one trip</span></p>
						</div>
						<ul>
							<li>Nail Cutting &amp; Styling</li>
									<li>Hair Trimming</li>
									<li>Spa Therapy</li>
									<li>Body Massage</li>
									<li>Manicure</li>
						</ul>
						<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a></p>
					</div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="pricing-entry pb-5 text-center">
						<div>
							<h3 class="mb-4">Standard</h3>
							<p><span class="price">$34.50</span> <span class="per">/ one trip</span></p>
						</div>
						<ul>
							<li>Nail Cutting &amp; Styling</li>
									<li>Hair Trimming</li>
									<li>Spa Therapy</li>
									<li>Body Massage</li>
									<li>Manicure</li>
						</ul>
						<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a></p>
					</div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="pricing-entry active pb-5 text-center">
						<div>
							<h3 class="mb-4">Premium</h3>
							<p><span class="price">$54.50</span> <span class="per">/ one trip</span></p>
						</div>
						<ul>
							<li>Nail Cutting &amp; Styling</li>
									<li>Hair Trimming</li>
									<li>Spa Therapy</li>
									<li>Body Massage</li>
									<li>Manicure</li>
						</ul>
						<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a></p>
					</div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="pricing-entry pb-5 text-center">
						<div>
							<h3 class="mb-4">Platinum</h3>
							<p><span class="price">$89.50</span> <span class="per">/ one trip</span></p>
						</div>
						<ul>
							<li>Nail Cutting &amp; Styling</li>
									<li>Hair Trimming</li>
									<li>Spa Therapy</li>
									<li>Body Massage</li>
									<li>Manicure</li>
						</ul>
						<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a></p>
					</div>
				</div>
			</div>
				</div>
			</section>
	
			<section class="ftco-section ftco-counter img" id="section-counter" style='background-image: url("{% static 'Main/images/bg_4.jpg' %}");'>
				<div class="overlay"></div>
		  <div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row">
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							  <div class="icon"><span class="flaticon-flower"></span></div>
							  <span>Makeup Over Done</span>
							<strong class="number" data-number="3500">0</strong>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							  <div class="icon"><span class="flaticon-flower"></span></div>
							  <span>Procedure</span>
							<strong class="number" data-number="1000">0</strong>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							  <div class="icon"><span class="flaticon-flower"></span></div>
							  <span>Happy Client</span>
							<strong class="number" data-number="3000">0</strong>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							  <div class="icon"><span class="flaticon-flower"></span></div>
							  <span>Skin Treatment</span>
							<strong class="number" data-number="900">0</strong>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
			</div>
		  </div>
		</section>
	
		<section class="ftco-section">
		  <div class="container">
			<div class="row justify-content-center mb-5 pb-3">
			  <div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Recent from blog</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			  </div>
			</div>
			<div class="row d-flex">
			  <div class="col-md-4 d-flex ftco-animate">
				  <div class="blog-entry align-self-stretch">
				  <a href="blog-single.html" class="block-20" style='background-image: url("{% static 'Main/images/image_1.jpg' %}");'>
				  </a>
				  <div class="text py-4 d-block">
					  <div class="meta">
					  <div><a href="#">Sept 10, 2018</a></div>
					  <div><a href="#">Admin</a></div>
					  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
					</div>
					<h3 class="heading mt-2"><a href="#">Skin Care for Teen Skin</a></h3>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				  </div>
				</div>
			  </div>
			  <div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch">
				<a href="blog-single.html" class="block-20" style='background-image: url("{% static 'Main/images/image_5.jpg' %}");'>
				</a>
				<div class="text py-4 d-block">
					<div class="meta">
					<div><a href="#">Sept 10, 2018</a></div>
					<div><a href="#">Admin</a></div>
					<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
				  </div>
				  <h3 class="heading mt-2"><a href="#">Skin Care for Teen Skin</a></h3>
				  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				</div>
			  </div>
			</div>
			  <div class="col-md-4 d-flex ftco-animate">
				  <div class="blog-entry align-self-stretch">
				  <a href="blog-single.html" class="block-20" style='background-image: url("{% static 'Main/images/image_3.jpg' %}");'>
				  </a>
				  <div class="text py-4 d-block">
					  <div class="meta">
					  <div><a href="#">Sept 10, 2018</a></div>
					  <div><a href="#">Admin</a></div>
					  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
					</div>
					<h3 class="heading mt-2"><a href="#">Skin Care for Teen Skin</a></h3>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	
			
			<section class="ftco-section ftco-appointment">
				<div class="overlay"></div>
			<div class="container">
				<div class="row d-md-flex align-items-center">
					<div class="col-md-2"></div>
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="appointment-info text-center p-5">
							<div class="mb-4">
								<h3 class="mb-3">Address</h3>
								<p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
							</div>
							<div class="mb-4">
								<h3 class="mb-3">Phone</h3>
								<p class="day"><strong>000 123 456</strong> or <strong>000 987 654</strong></p>
							</div>
							<div>
								<h3 class="mb-3">Opening Hours</h3>
								<p class="day"><strong>Monday - Friday</strong></p>
								<span>08:00am - 09:00pm</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 appointment pl-md-5 ftco-animate">
						<h3 class="mb-3">Appointments</h3>
						<form action="#" class="appointment-form">
					<div class="row form-group d-flex">
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="First Name">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
					<div class="row form-group d-flex">
						<div class="col-md-6">
							<div class="input-wrap">
								<div class="icon"><span class="ion-md-calendar"></span></div>
								<input type="text" id="appointment_date" class="form-control" placeholder="Date">
							</div>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Phone">
						</div>
					</div>
					<div class="form-group">
					  <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
					  <input type="submit" value="Order" class="btn btn-white btn-outline-white py-3 px-4">
					</div>
				  </form>
					</div>    			
				</div>
			</div>
		</section>
	
		<footer class="ftco-footer ftco-section img">
			<div class="overlay"></div>
		  <div class="container">
			<div class="row mb-5">
			  <div class="col-md-3">
				<div class="ftco-footer-widget mb-4">
				  <h2 class="ftco-heading-2">About Us</h2>
				  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
					<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				  </ul>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="ftco-footer-widget mb-4">
				  <h2 class="ftco-heading-2">Recent Blog</h2>
				  <div class="block-21 mb-4 d-flex">
					<a class="blog-img mr-4" style='background-image: url("{% static 'Main/images/image_1.jpg' %}");'></a>
					<div class="text">
					  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
					  <div class="meta">
						<div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
						<div><a href="#"><span class="icon-person"></span> Admin</a></div>
						<div><a href="#"><span class="icon-chat"></span> 19</a></div>
					  </div>
					</div>
				  </div>
				  <div class="block-21 mb-4 d-flex">
					<a class="blog-img mr-4" style='background-image: url("{% static 'Main/images/image_2.jpg' %}");'></a>
					<div class="text">
					  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
					  <div class="meta">
						<div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
						<div><a href="#"><span class="icon-person"></span> Admin</a></div>
						<div><a href="#"><span class="icon-chat"></span> 19</a></div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-md-2">
				 <div class="ftco-footer-widget mb-4 ml-md-4">
				  <h2 class="ftco-heading-2">Spa Center</h2>
				  <ul class="list-unstyled">
					<li><a href="#" class="py-2 d-block">Body Care</a></li>
					<li><a href="#" class="py-2 d-block">Massage</a></li>
					<li><a href="#" class="py-2 d-block">Hydrotherapy</a></li>
					<li><a href="#" class="py-2 d-block">Yoga</a></li>
					<li><a href="#" class="py-2 d-block">Sauna</a></li>
					<li><a href="#" class="py-2 d-block">Aquazone</a></li>
				  </ul>
				</div>
			  </div>
			  <div class="col-md-3">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Have a Questions?</h2>
					<div class="block-23 mb-3">
					  <ul>
						<li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
						<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
						<li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
					  </ul>
					</div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12 text-center">
	
				<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			  </div>
			</div>
		  </div>
		</footer>
		
	  
	
	  <!-- loader -->
	  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
	
	
	  <script src="{% static 'Main/js/jquery.min.js' %}"></script>
	  <script src="{% static 'Main/js/jquery-migrate-3.0.1.min.js' %}"></script>
	  <script src="{% static 'Main/js/popper.min.js' %}"></script>
	  <script src="{% static 'Main/js/bootstrap.min.js' %}"></script>
	  <script src="{% static 'Main/js/jquery.easing.1.3.js' %}"></script>
	  <script src="{% static 'Main/js/jquery.waypoints.min.js' %}"></script>
	  <script src="{% static 'Main/js/jquery.stellar.min.js' %}"></script>
	  <script src="{% static 'Main/js/owl.carousel.min.js' %}"></script>
	  <script src="{% static 'Main/js/jquery.magnific-popup.min.js' %}"></script>
	  <script src="{% static 'Main/js/aos.js' %}"></script>
	  <script src="{% static 'Main/js/jquery.animateNumber.min.js' %}"></script>
	  <script src="{% static 'Main/js/bootstrap-datepicker.js' %}"></script>
	  <script src="{% static 'Main/js/jquery.timepicker.min.js' %}"></script>
	  <script src="{% static 'Main/js/scrollax.min.js' %}"></script>
	  <script src="{% static 'Main/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false' %}"></script>
	  <script src="{% static 'Main/js/google-map.js' %}"></script>
	  <script src="{% static 'Main/js/main.js' %}"></script>
		
	  </body>
	</html>