<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table width="200" border="1">
            <tr>
                <td>Name</td>
                <td> <label for="txt_name"></label>
                <input type="text" name="txt_name" id="txt_name"/>
                </td>
            </tr>
            <tr>
            
                <td> <label >Gender </label></td>
                <td class="gender- options">
                  <input type="radio" name="radio" id="rbl_gender" value="Male">Male
                   <input type="radio" name="radio" id="rbl_gender" value="Female">Female
                </td>
            </tr>
            <tr>
                <td><label for="sel_dept">Department</label></td>
                <td><div class="inputform">
                <select name="sel_dept" id="sel_dept">
                    <option value="BCA">BCA</option>
                    <option value="BBA">BBA</option>
                    <option value="B.com CA">B.com CA</option>
                    <option value="B.com TAX">B.com TAX</option>
                </select>
                </div>
                </td>
            </tr>
        <tr>
            <td>Mark 1</td>
            <td> <label for="txt_num1"></label>
            <input type="text" name="txt_num1" id="txt_num1"/>
            </td>
        </tr>
        <tr>
            <td>Mark 2</td>
            <td> <label for="txt_num2"></label>
            <input type="text" name="txt_num2" id="txt_num2"/>
            </td>
        </tr>
        <tr>
            <td>Mark 3</td>
            <td> <label for="txt_num3"></label>
            <input type="text" name="txt_num3" id="txt_num2"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><div align="center">
                <input type="Submit" name="btn_submit" id="btn_submit" value="Submit" />
            </div></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{Name}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{Gender}}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>{{Department}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{Total}}</td>
        </tr>
        <tr>
            <td>Percentage</td>
            <td>{{Percentage}}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{Grade}}</td>
        </tr>
    </table>
    </form>
</body>
</html>